.box1 {
    width: 80vw; 
    margin: 20px auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
}

.box1:hover {
    box-shadow: 0 0 20px rgb(128, 125, 125);  

}


.links {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 2rem;
}

.links a {
    color:rgb(128, 125, 125);
    
}

.links a:hover{
text-shadow: 0 0 20px rgb(128, 125, 125);
}

h1 {
    color: rgb(125, 127, 128);
    text-decoration: underline;
    margin-top: 20px;
    text-align: center;
    text-shadow: 0 0 2px rgb(128, 125, 125);
    font-size:1.2rem;
}


.box2 {
     width: 90vw;
    margin:auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(128, 125, 125);
}

.box2 form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 10px;
}

.box2 form input {
    border-radius: 20px;
    height:5vh;
    padding: 10px;
    font-size: 1.3rem;
    text-align: center;
}

.box2 form input:hover {
    box-shadow: 0 0 20px rgb(128, 125, 125);
}

.box2 form textarea {
     height:35vh;
     border-radius: 20px;
      text-align: center;
       font-size: 1.3rem;
        padding: 10px;
        border: 2px solid rgb(128, 125, 125);
}

.box2 form textarea:hover {
    box-shadow: 0 0 20px rgb(128, 125, 125);

}

.box2 form button {
    border-radius: 20px;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px auto;
    text-align: center;
    background: rgb(194, 193, 193);
}

.box2 form button:hover {
    box-shadow: 0 0 20px rgb(128, 125, 125);
}

.box3 {
    display: none;
}


@media screen and (min-width:600px){
    .box1 {
    width: 70vw;
     margin: 50px auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
}

.box2 {
     width: 80vw;
     height: 60vh;
    margin:auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(128, 125, 125);
}


}




@media screen and (min-width:760px){
    .box1 {
    width: 50vw;
    margin: 30px auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
}

.links {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.5rem;
}

.box3 {
    display: none;
    flex-direction: column;
    gap:20px;
    width: 40vw;
    position: absolute;
    top:25%;
    left:58%;
}
 

.box3 h2 {
   font-size: 2rem;
   font-weight: bolder;
   text-decoration: underline;
   
}

.box3 h3 {
   font-size: 1.2rem;
   font-weight: bolder;
   text-decoration: underline;
   
}



.box3 p {
    text-align: justify;
    font-size: smaller;
}





.box2 {
     width: 60vw;
    margin:100px auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(128, 125, 125);
}




}


@media screen and (min-width:810px){
  .box1 {
    width: 80vw;
    margin: 30px auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
}


.links {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.5rem;
}


.box3 {
    display: none;
    flex-direction: column;
    gap:20px;
    width: 45vw;
    position: absolute;
    top:25%;
    left:55%;

}

.box2 {
     width: 60vw;
    margin:100px auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(128, 125, 125);
}





}







@media screen and (min-width:910px){
      .box1 {
    width: 50vw;
    margin: 30px auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
}


.links {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.5rem;
}

.box3 {
    display: none;

}



.box2 {
     width: 60vw;
    margin:100px auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(128, 125, 125);
}


}






@media screen and (min-width:1010px){
   .box1 {
    width: 50vw;
    margin: 30px auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
}


.links {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.5rem;
}

.box3 {
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 45vw;
    position: absolute;
    top:25%;
    left:55%;
}




.box2 {
     width: 50vw;
    margin:100px 10px;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(128, 125, 125);
}

.box3 h2 {
   font-size: 3rem;
   font-weight: bolder;
   text-decoration: underline;
   
}

.box3 h3 {
   font-size: 1.2rem;
   font-weight: bolder;
   text-decoration: underline;
   
}



.box3 p {
    text-align: justify;
    font-size: smaller;
    width: 40vw;
}




}


@media screen and (min-width:1210px){

    .box2 {
     width: 40vw;
    margin:100px 50px;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(128, 125, 125);
}
}

@media screen and (min-width:1510px){

    .box2 {
     width: 30vw;
    margin:100px 50px;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(128, 125, 125);
}
}







