.box1 {
    width: 90vw;
    margin: 50px auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
}

.box1:hover {
    box-shadow: 0 0 20px rgb(128, 125, 125);  

}


.links {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 2rem;
}

.links a {
    color:rgb(128, 125, 125);
    
}

.links a:hover{
text-shadow: 0 0 20px rgb(128, 125, 125);
}

h1 {
    color: rgb(125, 127, 128);
    text-decoration: underline;
    text-align: center;
      text-shadow: 0 0 2px rgb(128, 125, 125);
      font-size:2rem;
      margin-bottom: 30px;
}


.box2 {
     width: 90vw;
     height: 70vh;
    margin:auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(128, 125, 125);
}

.box2 form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 10px;
}

.box2 form input {
    border-radius: 20px;
    height:5vh;
    padding: 10px;
    font-size: 1.3rem;
    text-align: center;
}

.box2 form input:hover {
    box-shadow: 0 0 20px rgb(128, 125, 125);
}


.box2 form textarea {
     height:35vh;
     border-radius: 20px;
      text-align: center;
       font-size: 1.3rem;
        padding: 10px;
        border: 2px solid rgb(128, 125, 125);
}

.box2 form textarea:hover {
    box-shadow: 0 0 20px rgb(128, 125, 125);

}

.box2 form button {
    width: 20vw;
    border-radius: 20px;
    height:5vh;
    font-size: 1.3rem;
    margin: 10px auto;
    text-align: center;
    background: rgb(194, 193, 193);
}

.box2 form button:hover {
    box-shadow: 0 0 20px rgb(128, 125, 125);
}

.box3 {
    display: none;
}



@media screen and (min-width:600px){
    .box1 {
    width: 70vw;
     margin: 50px auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
}

.box2 {
     width: 80vw;
     height: 60vh;
    margin:auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(128, 125, 125);
}


}




@media screen and (min-width:760px){
    .box1 {
    width: 50vw;
    margin: 30px auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
}

.links {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.5rem;
}

.box3 {
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 45vw;
    position: absolute;
    top:15%;
    left:50%;

}


.box3 h2 {
   font-size: 3.5rem;
   font-weight: bolder;
   text-decoration: underline;
   
}

.box3 p {
    text-align: justify;

}





.box2 {
     width: 40vw;
     height: 60vh;
    margin-left: 30px;
    margin-top: 100px;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(128, 125, 125);
}


}


@media screen and (min-width:810px){
  .box1 {
    width: 50vw;
    margin: 30px auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
}


.links {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.5rem;
}

.box3 {
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 45vw;
    position: absolute;
    top:15%;
    left:50%;

}

.box3 h2 {
   font-size: 3.5rem;
   font-weight: bolder;
   text-decoration: underline;
   
}

.box3 p {
    text-align: justify;

}



.box2 {
     width: 40vw;
     height: 60vh;
    margin-left: 20px;
    margin-top: 100px;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(128, 125, 125);
}

.box3 .mernStack {
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 20px rgb(128, 125, 125);
}

.box3 .webApp {
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
   padding: 5px;
    box-shadow: 0 0 20px rgb(128, 125, 125);
}



.box3 .reactFrontEnd {
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 20px rgb(128, 125, 125);
}



.box3 .responsive {
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 20px rgb(128, 125, 125);
}


}







@media screen and (min-width:910px){
      .box1 {
    width: 50vw;
    margin: 30px auto;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
}


.links {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.5rem;
}

.box3 {
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 45vw;
    position: absolute;
    top:15%;
    left:50%;

}

.box3 h2 {
   font-size: 3.5rem;
   font-weight: bolder;
   text-decoration: underline;
   
}

.box3 p {
    text-align: justify;

}




.box2 {
     width: 40vw;
     height: 60vh;
    margin-left: 20px;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(128, 125, 125);
}

.box3 .mernStack {
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 20px rgb(128, 125, 125);
}

.box3 .webApp {
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
   padding: 5px;
    box-shadow: 0 0 20px rgb(128, 125, 125);
}



.box3 .reactFrontEnd {
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 20px rgb(128, 125, 125);
}



.box3 .responsive {
    border: 2px solid rgb(128, 125, 125);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 20px rgb(128, 125, 125);
}


}





