.greeting-name h2{
    color:rgb(7, 180, 248);
    font-weight: bold;
    font-size:20px;
    margin-left:110px ;
    margin-top:350px;
}

.greeting-name h3 {
    color:rgb(7, 180, 248);
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

.handles {
   color:rgb(7, 180, 248); 
   margin-left:30px;
   margin-top: 20px;
}

.handles h3 {
    font-size: 1rem;
}

.handlelinkOne {
    display:flex;
    flex-direction: row;
    gap:50px;
}

hr {
    margin: auto;
    
}

.handlelinkOne a {
    font-size: 2rem;
    text-decoration: none;
    color:wheat;
}


.handlelinkOne a:hover {
    transform: scale(1.1);
}

.about h3 {
    color:rgb(7, 180, 248); 
    text-align: center;
    font-size: 1.5rem; 
    margin-top: 30px;

}

 
.about p {
    color:white;
    padding: 20px;
    text-align: justify;
    font-size: 1rem;
    font-style: italic;
}

