
.myworks h1{
    margin-top: 50px;
    font-weight:bolder;
    font-size: 3rem;
    text-align: center;
    color: rgb(7, 180, 248);
}

.cards {
    width:100vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
    overflow-y: scroll;

}



.cards .card1:hover {
    background-color: rgba(240, 240, 240,1.5);
    filter: blur(5px);
    box-shadow: 0 0 200px rgb(1, 207, 253);
}

.cards .card1 {
    width:80vw;
    border: 2px solid black;
    height:30vh;
}
.cards .card1 h2 {
    text-align: center;
      font-weight: bolder;
      font-size: 3rem;
       color:rgb(7, 180, 248);
}

.cards .card1 img {
    border: 2px solid black;
    display: block;
    margin: auto;
    width:60vw;
    height:15vh;
}

.cards .card1 p {
    text-align: center;

}

.cards .card1 h3 {
    text-align: center;
     font-weight: bolder;
     font-size: 2rem;
}


.cards .card2:hover {
    background-color: rgba(240, 240, 240,1.5);
    filter: blur(5px);
    box-shadow: 0 0 200px rgb(1, 207, 253);
}

.cards .card2 {
    width:80vw;
    border: 2px solid black;
    height:30vh;
}
.cards .card2 h2 {
    text-align: center;
      font-weight: bolder;
      font-size: 3rem;
      color:rgb(7, 180, 248);
}

.cards .card2 img {
    border: 2px solid black;
    display: block;
    margin: auto;
    width:60vw;
    height:15vh;
}

.cards .card2 p {
    text-align: center;

}

.cards .card2 h3 {
    text-align: center;
     font-weight: bolder;
     font-size: 2rem;
}

@media  screen and (min-width:630px) {

    .cards {
    margin: 300px auto;
    width:100vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:50px;
}


.cards .card1 {
    width:80vw;
    border: 2px solid black;
    height:30vh;
    margin: auto 30px;
}

.cards .card1 img {
    border: 2px solid black;
    display: block;
    margin: auto;
    width:60vw;
    height:15vh;
}

.cards .card2 {
    width:80vw;
    border: 2px solid black;
    height:30vh;
}


.cards .card2 img {
    border: 2px solid black;
    display: block;
    margin: auto;
    width:60vw;
    height:15vh;
}


}



@media  screen and (min-width:730px) {

    .cards {
    margin: 300px auto;
    width:100vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:50px;
    overflow-x: scroll;
}


.cards .card1 {
    width:75vw;
    border: 2px solid black;
    height:30vh;
    margin: auto 30px;
}

.cards .card1 img {
    border: 2px solid black;
    display: block;
    margin: auto;
    width:55vw;
    height:15vh;
}

.cards .card2 {
   width:75vw;
    border: 2px solid black;
    height:30vh;
}


.cards .card2 img {
    border: 2px solid black;
    display: block;
    margin: auto;
   width:55vw;
    height:15vh;
}


}



@media  screen and (min-width:830px) {

    .cards {
    margin: 300px auto;
    width:100vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:50px;
    overflow-x: scroll;
}


.cards .card1 {
    width:50vw;
    border: 2px solid black;
    height:30vh;
    margin: auto 30px;
}

.cards .card1 img {
    border: 2px solid black;
    display: block;
    margin: auto;
    width:40vw;
    height:15vh;
}

.cards .card2 {
   width:50vw;
    border: 2px solid black;
    height:30vh;
}


.cards .card2 img {
    border: 2px solid black;
    display: block;
    margin: auto;
   width:40vw;
    height:15vh;
}


}



@media  screen and (min-width:930px) {

    .cards {
    margin: 300px auto;
    width:100vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:40px;
    overflow-x: scroll;
}


.cards .card1 {
    width:30vw;
    border: 2px solid black;
    height:30vh;
    margin: auto 30px;
}

.cards .card1 img {
    border: 2px solid black;
    display: block;
    margin: auto;
    width:20vw;
    height:15vh;
}

.cards .card2 {
   width:30vw;
    border: 2px solid black;
    height:30vh;
}


.cards .card2 img {
    border: 2px solid black;
    display: block;
    margin: auto;
    width:20vw;
    height:15vh;
}


}



@media  screen and (min-width:1030px) {

    .cards {
    margin: 300px auto;
    width:100vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:40px;
    overflow-x: scroll;
}


.cards .card1 {
    width:25vw;
    border: 2px solid black;
    height:30vh;
    margin: auto 30px;
}

.cards .card1 img {
    border: 2px solid black;
    display: block;
    margin: auto;
    width:15vw;
    height:15vh;
}

.cards .card2 {
   width:25vw;
    border: 2px solid black;
    height:30vh;
}


.cards .card2 img {
    border: 2px solid black;
    display: block;
    margin: auto;
    width:15vw;
    height:15vh;
}


}
