.myworks h1 {
    margin-top: 50px;
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    color: rgb(7, 180, 248);
}

.cards {
    width: 100vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow-y: scroll;

}



.cards .card1:hover {
    background-color: rgba(240, 240, 240, 1.5);
    filter: blur(5px);
    cursor: pointer;
}

.cards .card1 {
    width: 80vw;
    border: 2px solid black;
     border-radius: 10px;
}

.cards .card1 h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
    color: rgb(7, 180, 248);
}

.cards .card1 img {
    border: 2px solid black;
    display: block;
    margin: auto;
    width: 60vw;
    height: 15vh;
     border-radius: 20px;
}

.cards .card1 p {
    text-align: center;

}

.cards .card1 h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}


.cards .card2:hover {
    background-color: rgba(240, 240, 240, 1.5);
    filter: blur(5px);
    cursor: pointer;
}

.cards .card2 {
    width: 80vw;
    border: 2px solid black;
     border-radius: 10px;
}

.cards .card2 h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
    color: rgb(7, 180, 248);
}

.cards .card2 img {
    border: 2px solid black;
    display: block;
    margin: auto;
    width: 60vw;
    height: 15vh;
     border-radius: 20px;
}

.cards .card2 p {
    text-align: center;

}

.cards .card2 h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}


@media screen and (min-width:360px) {

    .myworks h1 {
        margin-top: 50px;
        font-weight: none;
        font-size: 2rem;
        text-align: center;
        color: rgb(7, 180, 248);
    }

    .cards .card1 {
        width: 80vw;
        border: 2px solid black;
         border-radius: 10px;
    }

    .cards .card1 h2 {
        text-align: center;
        font-weight: bolder;
        font-size: 1.5rem;
        color: rgb(7, 180, 248);
    }

    .cards .card1 img {
        border: 2px solid black;
        display: block;
        margin: auto;
        width: 70vw;
         border-radius: 20px;
        height: 20vh;
    }

    .cards .card1 p {
        text-align: center;
        font-weight: lighter;
        font-size: smaller;

    }

    .cards .card1 h3 {
        text-align: center;
        font-weight: bolder;
        font-size: 1.5rem;
    }

    .cards .card2 {
        width: 80vw;
        border: 2px solid black;
         border-radius: 10px;
    }

    .cards .card2 h2 {
        text-align: center;
        font-weight: bolder;
        font-size: 1.5rem;
        color: rgb(7, 180, 248);
    }


    .cards .card2 img {
        border: 2px solid black;
        display: block;
        margin: auto;
        width: 70vw;
        height: 20vh;
         border-radius: 20px;
    }

    .cards .card2 p {
        text-align: center;
        font-weight: lighter;
        font-size: smaller;

    }

    .cards .card2 h3 {
        text-align: center;
        font-weight: bolder;
        font-size: 1.5rem;
    }

}



@media screen and (min-width:630px) {

    .cards {
        margin: 100px auto;
        width: 100vw;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .myworks h1 {
        margin-top: 50px;
        font-weight: none;
        font-size: 4rem;
        text-align: center;
        color: rgb(7, 180, 248);
    }


    .cards .card1 {
        width: 80vw;
        border: 2px solid black;
        margin: auto 30px;
         border-radius:  10px;
    }

    .cards .card1 img {
        border: 2px solid black;
        display: block;
        margin: auto;
        width: 65vw;
        height: 15vh;
         border-radius: 20px;
    }

    .cards .card2 {
        width: 80vw;
        border: 2px solid black;
         border-radius: 10px;
    }


    .cards .card2 img {
        border: 2px solid black;
        display: block;
        margin: auto;
        width: 65vw;
        height: 15vh;
         border-radius: 20px;
    }


}



@media screen and (min-width:730px) {

    .cards {
        margin: 100px auto;
        width: 100vw;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        overflow-x: scroll;
    }


    .cards .card1 {
        width: 75vw;
        border: 2px solid black;
        margin: auto 30px;
         border-radius: 10px;
    }

    .cards .card1 img {
        border: 2px solid black;
        display: block;
        margin: auto;
        width: 65vw;
        height: 15vh;
         border-radius: 20px;
    }

    .cards .card2 {
        width: 75vw;
        border: 2px solid black;
         border-radius: 10px;
    }


    .cards .card2 img {
        border: 2px solid black;
        display: block;
        margin: auto;
        width: 65vw;
        height: 15vh;
         border-radius: 20px;
    }



}



@media screen and (min-width:830px) {

    .cards {
        margin: 100px auto;
        width: 100vw;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        overflow-x: scroll;
    }


    .cards .card1 {
        width: 80vw;
        border: 2px solid black;
        margin: auto 30px;
         border-radius: 10px;
    }

    .cards .card1 img {
        border: 2px solid black;
        display: block;
        margin: auto;
        width: 70vw;
        height: 20vh;
         border-radius: 20px;
    }

    .cards .card2 {
        width: 80vw;
        border: 2px solid black;
         border-radius: 10px;
    }


    .cards .card2 img {
        border: 2px solid black;
        display: block;
        margin: auto;
        width: 70vw;
        height: 20vh;
         border-radius: 20px;
    }


}



@media screen and (min-width:930px) {

    .cards {
        margin: 200px auto;
        width: 100vw;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        overflow-x: scroll;
    }


    .cards .card1 {
        width: 30vw;
        border: 2px solid black;
        margin: auto 30px;
         border-radius: 10px;
    }

    .cards .card1 img {
        border: 2px solid black;
        display: block;
        margin: auto;
        width: 25vw;
        height: 15vh;
         border-radius: 20px;
    }

    .cards .card2 {
        width: 30vw;
        border: 2px solid black;
         border-radius: 10px;
    }


    .cards .card2 img {
        border: 2px solid black;
        display: block;
        margin: auto;
         width: 25vw;
        height: 15vh;
         border-radius: 20px;
    }


}



@media screen and (min-width:1030px) {

    .cards {
        margin: 200px auto;
        width: 100vw;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        overflow-x: scroll;
    }


    .cards .card1 {
        width: 30vw;
        border: 2px solid black;
        margin: auto 30px;
         border-radius: 10px;
    }

    .cards .card1 img {
        border: 2px solid black;
        display: block;
        margin: auto;
        width: 25vw;
        height: 15vh;
         border-radius: 20px;
    }

    .cards .card2 {
        width: 30vw;
        border: 2px solid black;
         border-radius: 10px;
    }


    .cards .card2 img {
        border: 2px solid black;
        display: block;
        margin: auto;
        width: 25vw;
        height: 15vh;
        border-radius: 20px;
    }


}