.heading h1{
   margin: 20px;
    text-align: center;
    color: rgb(0, 166, 255);
}


.heading hr {
    display: none;
    width: 100vw;
    margin: auto;
}

.certificatesFirst{
     display: flex;
     align-items: center;
     justify-content: start;
     flex-wrap: wrap;
     gap: 10px;
     width: 95vw;
     margin-left: 10px;

}

.certificatesFirst a {
    font-size: 1.3rem;
    display: inline;
    white-space: nowrap;
    text-decoration: none;
    color: rgb(68, 70, 70);
    background-color: rgb(185, 185, 193);
    border-radius: 30px;
    padding: 10px;
    border: 2px solid rgb(41, 43, 43);
}

.certificatesFirst a:hover {
    box-shadow: 0 0 20px  rgb(68, 70, 70);
}
@media screen and (min-width:510px){
    .certificatesFirst{
     display: flex;
     align-items: center;
     justify-content: start;
     flex-wrap: wrap;
     gap: 10px;
     width: 100vw;
     margin-left: 10px;
}

}

 
@media screen and (min-width:620px){
    .certificatesFirst{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
     width: 80vw;
     margin-left: 10%;
}

}

 