body.dark {
    color:white;
    background-color: rgb(32, 42, 46);
}

body.dark form input{
    background-color: rgb(132, 169, 189);
    color:white;
}

body.dark .box1 .links a{
     color:rgb(255, 174, 0);
}

body.dark .box1 {
border:2px solid rgb(255, 174, 0);
}

body.dark .heading{
color:rgb(0, 149, 255);
}

body.dark form textarea{
    background-color: rgb(132, 169, 189);
    color:white;
}

body.dark form button{
    background-color: rgb(65, 103, 111);
    color:white;
}
body.dark .container1{
    background-color:rgb(32, 42, 46);
    border: 2px solid white; 
}

body.dark .html{
    background-color: rgb(32, 42, 46);
    border: 2px solid white; 
} 

body.dark .css{
    background-color: rgb(32, 42, 46);
    border: 2px solid white; 
}


body.dark .javascript{
    background-color: rgb(32, 42, 46);
    border: 2px solid white; 
}


body.dark .react{
    background-color: rgb(32, 42, 46);
    border: 2px solid white; 
}

body.dark .Comunication{
    background-color: rgb(32, 42, 46);
    border: 2px solid white; 
}


body.dark .ProblemSolving{
    background-color: rgb(32, 42, 46);
    border: 2px solid white; 
}


body.dark .TeamWork{
    background-color: rgb(32, 42, 46);
    border: 2px solid white; 
}


body.dark .LeaderShip{
    background-color: rgb(32, 42, 46);
    border: 2px solid white; 
}

body.dark .TimeManagement{
    background-color: rgb(32, 42, 46);
    border: 2px solid white; 
}


body.dark .container2{
    background-color:rgb(32, 42, 46);
    border: 2px solid white; 
}


body.light .navLinks a{
    color:black;
}

body.light .navLinks #remove {
    color:rgb(7, 180, 248);
}

body.light .about p{
    color: black;
}
body.light .handlelinkOne a{
    color: rgb(255, 137, 2);
}


body.light .bar1 , body.light .bar3,body.light .bar2 {
  background: black;
}

body.light .portfolio {
   color: black;  
}

body.light .fa-moon {
    color: black;  
}

body.light .fa-house {
    color: black;  
}

body.light nav {
    border:2px solid black;  
     box-shadow: 0 0 20px black;
}



